<!-- Page dictionary 'bookresult' with keys: [isbn, book_title, year_published, book_description, author_name, genre_name] -->
<!-- Page gets dictionary 'reviews' with keys: [isbn, rating_id, review_id, star_rating, rating_date, review_content] -->
<!-- Page gets dictionary 'ratings' with keys: [isbn, rating_id, review_id, star_rating, rating_date] -->

<!-- Need additional logic to display multiple authors -->
<!-- May need additional logic or different SQL to display reviews without ratings and vice versa -->
<script language='javascript'>
  </script>
{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center mt-4">
    <!-- <div class="col">
      <div class="book-cover">
        <img src= {{ url_for('static', filename = '../static/crayons-quit.jpg') }} width="400" height="400" alt="previous" title="Previous" border="0">
      </div>
    </div> -->
    {% for book in bookresult %}
    <div class="row mt-4">
      <h3>{{ book['book_title'] }}</h3>
    </div>
    <div class="row mt-4">
      <h5">by {{ book['author_name'] }}</h5>
    </div>
    <div class="row mt-4">
      <p><b>Genre:</b> {{ book['genre_name'] }}<br>
      <b>Year Published:</b> {{book['year_published'] }}<br>
        <b>ISBN:</b> {{ book['isbn'] }}
      </p>
    </div>
      <p> {{ book['book_description'] }}</p>

      <div>
        <a href="#" id="edit-book-button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#edit-book-modal" >Edit Book</a>
      <button id="rem-book-button" class="btn btn-primary mx-2">Remove Book</button>
      </div>

      <div class="modal hide fade" tabindex="-1" role="dialog" area-labelledby="Edit Book" area-hidden="true" id="edit-book-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Book</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="update-title" class="filter-input-label">Update Title:</label>
              <input type="text" name="update-title" id="update-title" class="filter-input form-control" value="{{ book['book_title'] }}">
              <div id="author_section">
                <div class="form-group">
                  <label for="book_author">Update Author(s)</label>
                  <select multiple class="form-control" id="book_author" name="book_author">
                    {% for author in authors %}
                    <!-- will do this kind of thing to pre-select current authors:
                    https://python-forum.io/Thread-How-do-I-fetch-values-from-db-to-Select-Options-using-Flask-->
                    <option value="{{ author['author_id'] }}">{{ author['author_name'] }}</option>
                    {% endfor %}
                  </select>
                </div>
              <!-- Had to make the Add New Author button into regular link because otherwise it was calling the POST method when you add a new Author, which called the server to try to add a book. This broke everything. Not sure if another way around it -->
              <a href="#" id="new-author" data-toggle="modal" data-target="#new-auth-modal">&plus; Add New Author</a>
              </div>
              <div class="form-group">
                <label for="book_genre">Genre(s) - pick at least one</label>
                <select multiple class="form-control" name="book_genre" id="book_genre">
                {% for genre in genres %}
                <option value="{{ genre['genre_id'] }}">{{ genre['genre_name'] }}</option>
                {% endfor %}
                </select>
              </div>
              <label for="update-isbn" class="filter-input-label">Update ISBN:</label>
              <input type="text" name="update-isbn" id="update-isbn" class="filter-input form-control" value="{{ book['isbn'] }}">
              <label for="update-year" class="filter-input-label">Update Year Published:</label>
              <input type="text" name="update-year" id="update-year" class="filter-input form-control" value="{{ book['year_published'] }}">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="" data-dismiss="modal">Save Changes</button>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}

      <!-- Average Rating not implemented yet -->
      <!-- <h3 class="header3"> Ratings</h3>
      <p class="rating-content"> Average rating: [avg] out of [#] of reviews &star; &star; &star; &star; &star;
      </p> -->
    <div class="row mt-4">
      <h3 class="header3 text-left mb-4">Reviews & Ratings</h3>
    </div>
      {% for review in reviews %}
        <h5 class="subheader text-left">Rating:
          {% if review['star_rating'] == 5 %}
            &#9733;&#9733;&#9733;&#9733;&#9733;
          {% endif %}
          {% if review['star_rating'] == 4 %}
            &#9733;&#9733;&#9733;&#9733;&#9734;
          {% endif %}
          {% if review['star_rating'] == 3 %}
            &#9733;&#9733;&#9733;&#9734;&#9734;
          {% endif %}
          {% if review['star_rating'] == 2 %}
            &#9733;&#9733;&#9734;&#9734;&#9734;
          {% endif %}
          {% if review['star_rating'] == 1 %}
            &#9733;&#9734;&#9734;&#9734;&#9734;
          {% endif %}
        </h5>

        <p class="text-left">left on {{ review['rating_date'] }}</p>
        <p class="text-left"><b>Review:</b><br>
          {{ review['review_content'] }}
        </p>
        <div>
          <button id="edit-rating-button" class="btn btn-secondary mx-2" data-toggle="modal" data-target="edit-rating-modal">Edit Rating</button>
          <div class="modal" id="edit-rating-modal" tabindex="-1" role="dialog" area-labelledby="Edit Rating" area-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Rating</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="" data-dismiss="modal">Save Changes</button>
                </div>
              </div>
            </div>
          </div>
          <button id="rem-rating-button" class="btn btn-secondary mx-2">Remove Rating</button>
          <button id="edit-review-button" class="btn btn-secondary mx-2">Edit Review</button>
          <button id="rem-review-button" class="btn btn-secondary mx-2">Remove Review</button>
        </div>

        <hr />

      {% endfor %}

      <!-- Page gets dictionary 'ratings' with keys: [isbn, rating_id, review_id, star_rating, rating_date] -->
      {% if ratings|length %}
      {% for rating in ratings %}
        <h5 class="subheader text-left">Rating:
          {% if rating['star_rating'] == 5 %}
            &#9733;&#9733;&#9733;&#9733;&#9733;
          {% endif %}
          {% if rating['star_rating'] == 4 %}
            &#9733;&#9733;&#9733;&#9733;&#9734;
          {% endif %}
          {% if rating['star_rating'] == 3 %}
            &#9733;&#9733;&#9733;&#9734;&#9734;
          {% endif %}
          {% if rating['star_rating'] == 2 %}
            &#9733;&#9733;&#9734;&#9734;&#9734;
          {% endif %}
          {% if rating['star_rating'] == 1 %}
            &#9733;&#9734;&#9734;&#9734;&#9734;
          {% endif %}
        </h5>

        <p class="text-left">left on {{ rating['rating_date'] }}</p>
        <div>
          <button id="edit-rating-button" class="btn btn-secondary mx-2" data-toggle="modal" data-target="edit-rating-modal">Edit Rating</button>
          <div class="modal" id="edit-rating-modal" tabindex="-1" role="dialog" area-labelledby="Edit Rating" area-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Rating</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="" data-dismiss="modal">Save Changes</button>
                </div>
              </div>
            </div>
          </div>
          <button id="rem-rating-button" class="btn btn-secondary mx-2">Remove Rating</button>
        </div>
        <hr />
      {% endfor %}
      {% endif %}
    </div>


{% endblock %}
